<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div>
    <input placeholder="tags to search" [(ngModel)]="tags" />
    <button (click)="search()">Search</button>
  </div>
  <div class="image" *ngFor="let image of images; let i=index;" (deferLoad)="image.show = true">
    <div>{{image.data.title}}</div>
    <ng-container *ngIf="image.show">
      <img src="{{image.data.media.m}}">
    </ng-container>
    <div class="tags">{{image.data.tags}}</div>
  </div>
</div>